@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Judul */
.title{
    margin-top: 7%;
}


.title h1{
    font-size: 50px;
    font-weight: 700;
    margin: 50px 80px 0 480px;
}

.title .jobtitle p{

    font-size: 20px;
    font-weight: 600;
    margin: 25px 80px 0 45%;
}
/* ------------------------------------------------ */



/* Keterangan input */
.container1{
    display: flex;
    margin-top: 80px;
}

.container1 .square1{
    margin: 50px 0 0 22%;
}

.container1 .square1 .iconcheck{
    background-color: #60CF83;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 50px;
}

.container1 .square1 .iconcheck i{
    color: white;
    margin: 15px;
    font-size: 40px;
}

.container1 .hr{
    border-bottom: 3px dashed;
    width: 38%;
    color:#9F9C9C;
    height: 80px;
}

.container1 .square2{
    margin: 50px 0 0 3%;
}

.container1 .square2 .iconcheck{
    background-color: #9F9C9C;
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.container1 .square2 .iconcheck i{
    color: white;
    margin: 15px;
    font-size: 40px;
}

.container1 .square2 .text p{
    margin-left: 5px;
}


.pemberitahuan{
    margin-top: 50px;
    margin-left: 32%;
    width: 40%;
    text-align: center;
}

.pemberitahuan p{
    font-size: 16px;
    font-weight: 500;

}
/* ----------------------------------------------------------- */



/* Form */
.input .opening{
    margin: 5% 0 20px 10%;
    display: flex;
}

.input .opening i{
    color: red;
    font-size: 30px;
    margin-right: 10px;
}

.input .opening h3{
    font-weight: 600;
}


.input .formulir form{
    display: flex;
    width: 80%;
    height: 460px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.input .formulir .mb-3{
    margin-top: 4%;
}

.input .formulir label{
    color: #7B7B7B;
    
}

.input .formulir .kiri input, .input .formulir .kiri select {
    width: 500px;
    height: 50px;
    margin-right: 100px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D94D;
}

.input .formulir .kanan input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D94D;
}

.input .edu .textarea{
    width: 80%;
    height: 230px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto
}

.input .employ{
    margin-top: 8%;
}

.input .employ .opening .form-check{
    margin-left: 42%;
    margin-top: 10px;
}

.input .employ .textarea{
    width: 80%;
    height: 230px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto
}

.input .other .salary{
    display: flex;
    background-color: white;
    width: 80%;
    height: 120px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}

.input .other .salary input{
    border: none;
    background-color: #F4F2EF;
    border-radius: 25px;
    margin-right: 25px;
    width: 90%;
    height: 50px;
}

.input .other .salary .mb-3{
    width: 50%;
}