a:hover{
    color: #D73A34;
}

a{
    text-decoration: none;
    color: black;
}

.site-footer{
    padding: 40px;
    font-size: 18px;
}


.site-footer p{
    font-size: 18px;
    text-align: justify;
}

.site-footer h5{
    font-weight: bold;
}

.footer-links{
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    line-height: 40px;
}

.footer-sosial{
    padding-left: 0;
    list-style: none;
    line-height: 50px;
    color: #D73A34;
    font-size: 40px;
}

.footer-sosial li{
    margin-top: 5px;
}


.footer-sosial a{
    margin-left: 20px;
    font-size: 20px;
}

.site-footer .row .col-md-3 .container1{
    margin-left: 100px;
}

.site-footer .row .col-md-3 .container2{
    margin-left: 100px;
}

.site-footer .row .col-md-3 .container .container0{
    margin-top: 50px;
}

