@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&display=swap');


.atas{
    margin-top: 70px;
    margin-left: 10%;
    display: flex;
    
}

a{
    text-decoration: none;
    color: black;
}

.atas .pict .gmbr img{
    width: 480px;
    height: 480px;
}

.atas .text{
    margin-top: 35px;
    margin-left: 15%;
    padding-right: 60px;
}

.atas .text h3{
    font-size: 56px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.atas .text h3 .merah{
    margin-right: 17px;
    color: red;
    font-weight: bold;
}

.atas .text p{
    font-size: 24px;
    padding-right: 18%;
}

.atas .text .btn-danger{
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: transparent;
}

.content{
    margin-top: 10%;
    display: flex;
    margin-left: 30%;
}

.content .judul h1{
    font-size: 56px;
    display: flex;
    font-weight: bold;
}

.content .icon i{
    margin: 0 17px;
    color: red;
    font-size: 70px;
}

.content .judul h1 .merah{
    color: red;
    margin: 0 10px;
}

.jadwal{
    background-color: red;
}

.jadwal .box1{
    margin-left: 5%;
    margin-top: 100%;
}

.jadwal .box2{
    margin-left: 5%;
    margin-top: 2%;
}

.jadwal .box3{
    margin-left: 5%;
    margin-top: 2%;
}

.jadwal i{
    color: red;
    margin-right: 5px;
}

.box1 .btn{
    background: #FFDBDA;
    color: #D73A34;
    margin-top: 5px;
    border-radius: 20px;
    border: transparent;
    width: 10%;
    height: 50px;
}

.box2 .btn{
    background: #FFDBDA;
    color: #D73A34;
    margin-top: 5px;
    border-radius: 20px;
    border: transparent;
    width: 10%;
    height: 50px;
}

.box3 .btn{
    background: #FFDBDA;
    color: #D73A34;
    margin-top: 5px;
    border-radius: 20px;
    border: transparent;
    width: 10%;
    height: 50px;
}

