@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&display=swap');

body{
    background-color: #FFF8F2;
    margin: 0;
    font-family: poppins;
    scroll-behavior: smooth;
}



#main-nav{
    background-color: transparent;
    position: relative;
    padding: 1px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    height: 80%;
    z-index: 12;
    transition: all 3s ease-out;
}

nav .logoNav img{
    position: absolute;
    left:50px;
    top: 10px;
    width: 18%;

}

nav a{
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    font: weight 100px;
}

nav a:hover{
    color: #D73A34;
    padding-bottom: 3px;
    border-bottom: 1px solid #D73A34;
}

nav a.btn{
    border: solid 1px #D73A34 ;
    padding: 7px 17px 7px 17px;
    border-radius: 25px;
    margin-top: -10;
    margin-left: 400px;
    font-size: 18px;
    font: weight 100px;
}

nav a.btn:hover{
    text-decoration: none;
    background-color: #D73A34;
    color: white;
}

.sticky{
    background-color: #FFF8F2;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 13%;
    z-index: 50;

    
}

.nav-sticky{

}


