a:hover{
    color: #D73A34;
}

a{
    text-decoration: none;
    color: rgb(93, 93, 93);
}

.site-footer{
    padding: 40px;
    font-size: 17px;
    color: rgb(93, 93, 93);
}


.site-footer p{
    font-size: 18px;
    text-align: justify;
}

.site-footer h5{
    font-weight: bold;
    color: black;
    font-size: 22px;
}

.footer-links{
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    line-height: 40px;
}

.footer-sosial{
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    line-height: 50px;
    color: #D73A34;
    font-size: 40px;
}

.footer-sosial li{
    font-size: 25px;
    margin-top: 5px;
}


.footer-sosial a{
    margin-left: 20px;
    font-size: 18px;
}

.site-footer .row .col-md-3 .containerr1, .site-footer .row .col-md-3 .containerr2{
    margin-left: 90px;
    margin-top: 40px;
}

.col-md-5{
    margin-right: 90px;
}

.container{
    margin-top: 20px;
}

.container0{
    margin-top: 80px;
}

.container0 h5{
    font-size: 28px;
}




